:root{
    --dominate:#f5f5f5;
    --complementary:#474554;
    --accent:#ACA7CB;
}


::before ::after{
    box-sizing: border-box;
}

body{
    margin:0
}

.App{
    height: 100vh;
}

.nav {
    display: flex;
    gap: 1rem;
    align-items: center;
    background: rgb(182, 172, 204);
    margin-bottom: 1%;
    background: var(--complementary);
    min-height: 4%;
}

.nav a{
    text-decoration: none;
    color: var(--accent);
    height: max-content;
}


.home-container{
    background: var(--dominate);
    min-height: 95%;
}

.posts-container{
    background: var(--dominate);
    min-height: 95%;
}

.posts-ql-wrapper .ql-container .ql-editor{
    max-height:4em;
}

.read-post-container h1{
    text-align: center;
    color:var(--accent)
}

.read-post-content .ql-container.ql-snow{
   
    border-style: none;
    background-color: var(--complementary);
    background-color: #ffffff;
    border-radius: 5px;
}

.read-post-container > div{
    width: 70%;
    margin: 0 auto;
}

.read-post-container button{
    font-size: 20px;
    margin-top: 1em;
    background-color: var(--accent);
    color: var(--dominate);
    border-style: none;
    border-radius: 5px;
    padding: 10px;
}

.read-post-container button:hover{
    background-color: var(--complementary);
}
